$background-color: #d5d9d7; //a light gray background color
$primary-color: #1fb66b; //a medium darkness green
$complementary-color: #b61f6b; //a dark pink
$analogous-color-1: #1fb61f; //a lighter tint of similar green
$analogous-color-2: #1fb6b6 //a light tint of aquamarine
$triadic-color-1: #1f6bb6; //a dark tint of baby blue
$triadic-color-2: #6b1fb6; //a standard tint of standard purple