@import "./fonts";
@import "./header";
@import "./colors";
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
}
.flex-parent {
  display: flex;
  height: 85vh;
  background-color: $background-color;
  justify-content: space-between;
  padding: 15px;
}
.flex-child-text {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  height: 75vh;
  padding: 6rem;//no 
  max-width: 40rem;
  color: $black;
}
.flex-child-image {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  height: 60vh;
  padding: 6rem;//no 
}
.flex-child-list {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  height: 75vh;
  padding: 8vh;//no
  max-width: 40rem;
  color: $black;
}
#list-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  height: 75vh;
  max-width: 40rem;
  color: $black;
}
#empty-space {
  height: 10vh;
  color: white;
}
#button {
  display: flex;
  max-height: 10vh;
  color: $black;
  align-self: center;
  border-radius: 50%;
}
button:hover {
  background-color: pink;
}
#button-container {
  display: flex;
  align-items: center;
  color: $black;
}
